/* CSS Measurments */

/* px, pt, %, em, rem, vh, vw  */
/* Static, responsive */

/* Global */

body {
  background-color: rgb(218, 210, 210);
  font-size: 15px;
  width: 90%;
}

.box {
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  height: 500px;
  display: flex;
  justify-content: center;
  margin-top: 90px;
  gap: 0px;
}

/*----BUTTONS----*/
button {
  width: 150px;
  border-radius: 25px;
  height: 50px;
  justify-content: center;
  display: flex;
  margin-top: 80px;
  border: none;
}

.button-sedan {
  margin: auto;
  font-size: 15px;
  color: hsl(31, 77%, 52%);
}

.button-suvs {
  margin: auto;
  font-size: 15px;
  color: hsl(184, 100%, 22%);
}

.button-luxury {
  margin: auto;
  font-size: 15px;
  color: hsl(179, 100%, 13%);
}
/*----BUTTON----*/

/*CAR SPECIFICS*/

.car-img {
  max-width: 100%;
  height: auto;
  margin-top: 30px;
  margin-left: 34px;
}

.car-info {
  padding: 5px;
  max-width: 70%;
  margin-top: -20px;
  margin-left: 30px;
  justify-content: center;
  flex-direction: row;

  color: white;
  hyphens: auto;
}

h2 {
  font-size: 40px;
  font-family: "Big Shoulders Display";
  font-weight: 700;
}

p {
  font-family: "Lexend Deca";
  font-weight: 400;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
}
/*CAR SPECIFICS*/

/*-----CARS------- */

.sedan {
  background-color: hsl(31, 77%, 52%);
  width: 250px;
  flex-direction: column;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.suvs {
  background-color: hsl(184, 100%, 22%);
  width: 250px;
  flex-direction: column;
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  width: 250px;
  flex-direction: column;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}



h3 {
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
